/* reset css */
[data-gehirntrainer], [data-gehirntrainer] * {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left;
	background: none;
}
[data-gehirntrainer] ul, [data-gehirntrainer] ol, [data-gehirntrainer] li {
	list-style: none;
}
[data-gehirntrainer] strong {
	font-weight: bold;
}









[data-gehirntrainer] {
	margin: 50px auto;
	width: 100%;
	max-width: 610px;
	font-family: 'Source Sans Pro';
}

[data-gehirntrainer] button {
	border-radius: 5px;
	font-weight: bold;
	font-size: 23px;
	text-align: center;
}

[data-gehirntrainer] [data-main] {
	background: #fff;
	padding: 48px;
	font-size: 20px;
	min-height: 499px;
}

[data-gehirntrainer] [data-main] > div {
	overflow: hidden;
}

[data-gehirntrainer] [data-main] button {
	background: #fff;
	padding: 10px 11px 12px 11px;
	color: #fff;
}

[data-gehirntrainer] [data-main] .blue {
	color: #0095c8;
}

[data-gehirntrainer] [data-main] p {
	margin-bottom: 30px;
	line-height: 1.25;
}

[data-gehirntrainer] [data-main] p:last-child {
	margin-bottom: 0;
}

/* Intro */

/* Level */
[data-gehirntrainer] [data-main] [data-level] ul {
	margin: 75px 0 0 30px;
}

[data-gehirntrainer] [data-main] [data-level] ul li {
	margin-top: 30px;
}

/* Game */
[data-gehirntrainer] [data-main] [data-game] div.top {
	margin-top: 25px;
}
[data-gehirntrainer] [data-main] [data-game] div.top p {
	text-align: center;
	margin-bottom: 35px;
}
[data-gehirntrainer] [data-main] [data-game] div.top p:first-child {
	font-size: 29px;
	margin-bottom: 10px;
}
[data-gehirntrainer] [data-main] [data-game] div.top p {
	text-align: center;
	margin-bottom: 40px;
}
[data-gehirntrainer] [data-main] [data-game] table {
	background: #ecf7fb;
	width: 100%;
	color: #0095c8;
	font-size: 35px;
}
[data-gehirntrainer] [data-main] [data-game] table tr:first-child td:last-child {
	background-image: url(images/icons.png);
	background-repeat: no-repeat;
	background-position: -300px -300px;
}
[data-gehirntrainer] [data-main] [data-game] table tr.true:first-child td:last-child {
	background-position: top -42px right 9px;
}
[data-gehirntrainer] [data-main] [data-game] table tr.false:first-child td:last-child {
	background-position: top 13px right 9px;
}
[data-gehirntrainer] [data-main] [data-game] table tr:nth-child(2) {
	background: #cceaf4;
	color: #4a4a4a;
}
[data-gehirntrainer] [data-main] [data-game] table tr td {
	padding: 10px;
}
[data-gehirntrainer] [data-main] [data-game] table tr td:first-child {
	width: 180px;
	text-align: right;
	padding-right: 40px;
}
[data-gehirntrainer] [data-main] [data-game] table tr td:nth-child(2) {
	width: 43px;
}
[data-gehirntrainer] [data-main] [data-game] table tr td:last-child {
	width: *;
}
[data-gehirntrainer] [data-main] [data-game] div.buttons {
	width: 405px;
	margin: 30px auto 0 auto;
}
[data-gehirntrainer] [data-main] [data-game] div.buttons button {
	width: 165px;
}
[data-gehirntrainer] [data-main] [data-game] div.buttons button:first-child {
	background: #b80000;
	float: left;
}
[data-gehirntrainer] [data-main] [data-game] div.buttons button:last-child {
	background: #7db82a;
	float: right;
}

/* Finish */
[data-gehirntrainer] [data-main] [data-finish] [data-time] {
	margin: 100px auto 120px auto;
	text-align: center;
	font-size: 40px;
}

/* Experts */
[data-gehirntrainer] [data-main] [data-experts] [data-time] {
	text-align: center;
	font-size: 40px;
}
[data-gehirntrainer] [data-main] [data-experts] button {
	display: block;
	background: #7db82a;
	margin: 0 auto 35px auto;
	width: 250px;
}

/* Footer */
[data-gehirntrainer] [data-footer] {
	background: #0095c8;
	padding: 19px;
}
[data-gehirntrainer] [data-footer] > div > div {
	margin: 0 auto;
	max-width: 480px;
}
[data-gehirntrainer] [data-footer] > div,
[data-gehirntrainer] [data-footer] > div > div {
	overflow: hidden;
}
[data-gehirntrainer] [data-footer] button {
	display: inline;
	background: #fff;
	padding: 14px 15px 16px 15px;
	color: #0095c8;
}
[data-gehirntrainer] [data-footer] > [data-new] button {
	width: 250px;
	margin: 0 auto;
	display: block;
}

[data-gehirntrainer] [data-footer] [data-level] button {
	width: 150px;
	float: left;
	margin-left: 15px;
}
[data-gehirntrainer] [data-footer] [data-level] button:first-child {
	margin: 0;
}
